Data source: https://www.kaggle.com/datasets/rupeshraundal/marketcheck-automotive-data-us-canada?select=ca-dealers-used.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import sklearn

print(f"NumPy version: {np.__version__}")
print(f"scikit-learn version: {sklearn.__version__}")

NumPy version: 1.23.5
scikit-learn version: 1.2.1

In [3]:
df = pd.read_csv('ca-dealers-used.csv')
df.head()

C:\Users\LGPC\AppData\Local\Temp\ipykernel_15888\1517061725.py:1: DtypeWarning: Columns (13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('ca-dealers-used.csv')

,id,vin,price,miles,stock_no,year,make,model,trim,body_type,...,drivetrain,transmission,fuel_type,engine_size,engine_block,seller_name,street,city,state,zip
0,b39ea795-eca9,19UNC1B01HY800062,179999.0,9966.0,V-P4139,2017.0,Acura,NSX,Base,Coupe,...,4WD,Automatic,Electric / Premium Unleaded,3.5,V,edmundston honda,475 Rue Victoria,Edmundston,NB,E3V 2K7
1,026cb5b1-6e3e,19UNC1B02HY800023,179995.0,5988.0,PPAP70374,2017.0,Acura,NSX,Base,Coupe,...,4WD,Automatic,Electric / Premium Unleaded,3.5,V,garage daniel lessard,2795 Route-du-prsident-kennedy,Notre-dame-des-pins,QC,G0M 1K0
2,5cd5d5b2-5cc2,19UNC1B02HY800071,168528.0,24242.0,B21085,2017.0,Acura,NSX,Base,Coupe,...,4WD,Automatic,Electric / Premium Unleaded,3.5,V,lougheed acura,1388 Lougheed Highway,Coquitlam,BC,V3K 6S4
3,b32473ed-5922,19UNC1B02LY800001,220000.0,6637.0,AP5333,2020.0,Acura,NSX,Base,Coupe,...,4WD,Automatic,Electric / Premium Unleaded,3.5,V,drive autogroup,1305 Parkway Suite 600,Pickering,ON,L1V 3P2
4,ac40c9fc-0676,19UNC1B02LY800001,220000.0,6637.0,AP5333,2020.0,Acura,NSX,Base,Coupe,...,4WD,Automatic,Electric / Premium Unleaded,3.5,V,acura pickering,575 Kingston Road,Pickering,ON,L1V 3N7

In [4]:
df.columns

Index(['id', 'vin', 'price', 'miles', 'stock_no', 'year', 'make', 'model',
       'trim', 'body_type', 'vehicle_type', 'drivetrain', 'transmission',
       'fuel_type', 'engine_size', 'engine_block', 'seller_name', 'street',
       'city', 'state', 'zip'],
      dtype='object')

In [5]:
columns = df.columns
for c in columns:
    print(f"Column: {c}, Data Type: {df[c].dtype}")

Column: id, Data Type: object
Column: vin, Data Type: object
Column: price, Data Type: float64
Column: miles, Data Type: float64
Column: stock_no, Data Type: object
Column: year, Data Type: float64
Column: make, Data Type: object
Column: model, Data Type: object
Column: trim, Data Type: object
Column: body_type, Data Type: object
Column: vehicle_type, Data Type: object
Column: drivetrain, Data Type: object
Column: transmission, Data Type: object
Column: fuel_type, Data Type: object
Column: engine_size, Data Type: float64
Column: engine_block, Data Type: object
Column: seller_name, Data Type: object
Column: street, Data Type: object
Column: city, Data Type: object
Column: state, Data Type: object
Column: zip, Data Type: object

In [6]:
cat=df[['id', 'vin','stock_no','trim','make', 'model','body_type', 'vehicle_type','drivetrain', 'transmission',
       'fuel_type','engine_block']]
cat

,id,vin,stock_no,trim,make,model,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_block
0,b39ea795-eca9,19UNC1B01HY800062,V-P4139,Base,Acura,NSX,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,V
1,026cb5b1-6e3e,19UNC1B02HY800023,PPAP70374,Base,Acura,NSX,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,V
2,5cd5d5b2-5cc2,19UNC1B02HY800071,B21085,Base,Acura,NSX,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,V
3,b32473ed-5922,19UNC1B02LY800001,AP5333,Base,Acura,NSX,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,V
4,ac40c9fc-0676,19UNC1B02LY800001,AP5333,Base,Acura,NSX,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,V
...,...,...,...,...,...,...,...,...,...,...,...,...
393598,f71c5738-33d8,WDC0G5EB8KF614677,M0684,GLC350e,Mercedes-Benz,GLC-Class,SUV,Truck,4WD,Automatic,Electric / Unleaded,I
393599,873d76f0-18d2,WDC0G5EB9JF465808,D13339,GLC350e,Mercedes-Benz,GLC-Class,SUV,Truck,4WD,Automatic,Electric / Unleaded,I
393600,7ead9dba-6cdd,WDC0G5EB9JF465808,D13339,GLC350e,Mercedes-Benz,GLC-Class,SUV,Truck,4WD,Automatic,Electric / Unleaded,I
393601,efa897c2-a52f,WP1BE2AY4LDA55072,NaN,E-Hybrid,Porsche,Cayenne Coupe,SUV,Truck,4WD,Automatic,Electric / Unleaded,V
393602,479607ed-62af,WP1BE2AY8LDA55284,P16107,E-Hybrid,Porsche,Cayenne Coupe,SUV,Truck,4WD,Automatic,Electric / Unleaded,V

In [7]:
cat=df[['trim','make', 'model','body_type', 'vehicle_type','drivetrain', 'transmission',
       'fuel_type','engine_block']]

In [8]:
# Assuming df is your DataFrame
#unique_trims = df["trim"].unique()

# Convert the array to a list to display all elements without truncation
#unique_trims_list = unique_trims.tolist()

# Print all unique trims
#print(unique_trims_list)

In [9]:
cols_to_drop = ['id', 'vin', 'stock_no', 'street', 'zip', 'seller_name', 'city']
df = df.drop(cols_to_drop, axis=1)

df.shape

(393603, 14)

In [10]:
df.isna().sum()

price           35117
miles           27013
year               17
make                0
model            4794
trim            38779
body_type       34025
vehicle_type    38238
drivetrain      38995
transmission    35681
fuel_type       70813
engine_size     72653
engine_block    73164
state            7836
dtype: int64

In [11]:
df.shape

(393603, 14)

In [12]:
df.dtypes

price           float64
miles           float64
year            float64
make             object
model            object
trim             object
body_type        object
vehicle_type     object
drivetrain       object
transmission     object
fuel_type        object
engine_size     float64
engine_block     object
state            object
dtype: object

In [13]:
df = df.dropna(axis=0)

In [14]:
df[['make', 'model', 'body_type', 'vehicle_type', 'drivetrain', 'transmission', 'fuel_type', 'engine_block', 'state']] = df[['make', 'model', 'body_type', 'vehicle_type', 'drivetrain', 'transmission', 'fuel_type', 'engine_block', 'state']].astype("string")

df.dtypes

price           float64
miles           float64
year            float64
make             string
model            string
trim             object
body_type        string
vehicle_type     string
drivetrain       string
transmission     string
fuel_type        string
engine_size     float64
engine_block     string
state            string
dtype: object

In [15]:
df.shape

(269552, 14)

In [16]:
df.isna().sum()

price           0
miles           0
year            0
make            0
model           0
trim            0
body_type       0
vehicle_type    0
drivetrain      0
transmission    0
fuel_type       0
engine_size     0
engine_block    0
state           0
dtype: int64

In [17]:
df.head()

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,state
0,179999.0,9966.0,2017.0,Acura,NSX,Base,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,3.5,V,NB
1,179995.0,5988.0,2017.0,Acura,NSX,Base,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,3.5,V,QC
2,168528.0,24242.0,2017.0,Acura,NSX,Base,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,3.5,V,BC
3,220000.0,6637.0,2020.0,Acura,NSX,Base,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,3.5,V,ON
4,220000.0,6637.0,2020.0,Acura,NSX,Base,Coupe,Car,4WD,Automatic,Electric / Premium Unleaded,3.5,V,ON

In [18]:
df['make'].unique()

<StringArray>
[        'Acura',         'Dodge',      'Chrysler',           'RAM',
          'Ford',     'Chevrolet',         'Buick',      'Cadillac',
           'GMC',         'Lexus',    'Volkswagen',           'BMW',
 'Mercedes-Benz',        'Hummer',       'Lincoln',         'Volvo',
      'INFINITI',        'Toyota',    'Land Rover',          'Audi',
          'MINI',       'Porsche',      'Maserati',    'Am General',
          'Jeep',        'Nissan',         'Mazda',        'Jaguar',
         'Honda',       'Pontiac',    'Oldsmobile',        'Saturn',
      'Plymouth',       'Mercury',        'Suzuki',           'Kia',
       'Hyundai',         'Scion',    'Mitsubishi',        'Subaru',
          'FIAT',       'GENESIS',         'Lotus',          'Saab',
       'Ferrari',       'McLaren',   'Rolls-Royce',       'Bentley',
  'Aston Martin',       'Maybach',         'smart',    'Alfa Romeo',
   'Lamborghini',         'KARMA']
Length: 54, dtype: string

In [19]:
df['make'] = df['make'].apply(lambda x : x.lower().replace(' ', '_').replace('-', '_'))

df['make'].unique()

array(['acura', 'dodge', 'chrysler', 'ram', 'ford', 'chevrolet', 'buick',
       'cadillac', 'gmc', 'lexus', 'volkswagen', 'bmw', 'mercedes_benz',
       'hummer', 'lincoln', 'volvo', 'infiniti', 'toyota', 'land_rover',
       'audi', 'mini', 'porsche', 'maserati', 'am_general', 'jeep',
       'nissan', 'mazda', 'jaguar', 'honda', 'pontiac', 'oldsmobile',
       'saturn', 'plymouth', 'mercury', 'suzuki', 'kia', 'hyundai',
       'scion', 'mitsubishi', 'subaru', 'fiat', 'genesis', 'lotus',
       'saab', 'ferrari', 'mclaren', 'rolls_royce', 'bentley',
       'aston_martin', 'maybach', 'smart', 'alfa_romeo', 'lamborghini',
       'karma'], dtype=object)

In [20]:
df['body_type'] = df['body_type'].apply(lambda x : x.lower().replace(' ', '_').replace('-', '_'))
df['body_type'].unique()

array(['coupe', 'sedan', 'pickup', 'suv', 'convertible', 'hatchback',
       'targa', 'passenger_van', 'cargo_van', 'chassis_cab', 'minivan',
       'mini_mpv', 'crossover', 'wagon', 'cutaway', 'micro_car', 'combi',
       'car_van', 'roadster', 'commercial_wagon'], dtype=object)

In [21]:
df['vehicle_type'].unique()

<StringArray>
['Car', 'Truck']
Length: 2, dtype: string

In [22]:
df['drivetrain'].unique()

<StringArray>
['4WD', 'FWD', 'RWD']
Length: 3, dtype: string

In [23]:
df['transmission'].unique()

<StringArray>
['Automatic', 'Manual']
Length: 2, dtype: string

In [24]:
df['fuel_type'].unique()

<StringArray>
[        'Electric / Premium Unleaded',                                 'E85',
            'E85 / Unleaded; Unleaded',                      'Unleaded / E85',
                 'Unleaded / Unleaded', 'E85 / Unleaded; Unleaded / Unleaded',
          'Premium Unleaded; Unleaded',         'Premium Unleaded / Unleaded',
        'Compressed Natural Gas / Lpg',   'Compressed Natural Gas / Unleaded',
                           'Biodiesel',              'E85 / Premium Unleaded',
                      'Electric / E85',              'Compressed Natural Gas',
    'Compressed Natural Gas; Unleaded',                 'Unleaded / Electric',
           'Diesel / Premium Unleaded',                              'Diesel',
                            'Electric',                            'Unleaded',
                      'E85 / Unleaded',                    'Premium Unleaded',
                 'Electric / Unleaded']
Length: 23, dtype: string

In [25]:
gasoline = {'gas', 
            'E85 / Unleaded',
       'Unleaded', 'Premium Unleaded',
       'Premium Unleaded; Unleaded', 
       'Unleaded; Unleaded / E85', 'Unleaded / E85',
       'E85 / Unleaded; Unleaded', 'Premium Unleaded / Unleaded',
       'E85 / Premium Unleaded; E85 / Unleaded', 
       'E85', 'E85 / Premium Unleaded', 
       'Compressed Natural Gas; Unleaded',
       'E85 / Unleaded; Unleaded / Unleaded',
       'Diesel / Premium Unleaded', 'E85 / Unleaded; Unleaded / E85',
       'Unleaded / Unleaded', 
       'Compressed Natural Gas / Unleaded', 'Diesel; Unleaded',
       'Diesel; E85 / Unleaded', 'E85 / Unleaded; Premium Unleaded',
       'Premium Unleaded; Premium Unleaded / E85', 'E85; E85 / Unleaded',
       'Unleaded / Premium Unleaded',
       'Premium Unleaded / E85',
       'M85 / Unleaded'
}

biodiesel = {
    'Biodiesel'
}

hybrid = {
       'Electric / Premium Unleaded', 
       'Electric / Unleaded',
       'Unleaded / Electric',
       'Electric / Hydrogen',
       'Electric / Premium Unleaded; Electric / Unleaded',
       'Electric / Premium Unleaded; Premium Unleaded',
       'Electric / E85'
}

other = {
    'Hydrogen', 
    'Premium Unleaded / Natural Gas',
    'Compressed Natural Gas / Lpg', 
    'Compressed Natural Gas', 'Propane',
    'Flex Fuel Vehicle',
}

def preprocess_fuel_type(x):
    if x in gasoline:
        return "gasoline"
    elif x in biodiesel:
        return "biodiesel"
    elif x in hybrid:
        return "hyrid"
    else:
        return "other"
    
df['fuel_type'] = df['fuel_type'].apply(preprocess_fuel_type)

In [26]:
df['fuel_type'].unique()

array(['hyrid', 'gasoline', 'other', 'biodiesel'], dtype=object)

In [27]:
df['engine_size'].unique()

array([3.5, 2.7, 3.6, 5.7, 4. , 5. , 5.4, 3. , 1.4, 1.5, 4.6, 6. , 6.6,
       5.3, 6.2, 6.1, 2.4, 1.6, 2. , 3.3, 1.8, 2.5, 0.6, 2.9, 4.7, 6.5,
       5.9, 3.2, 6.7, 6.4, 7.3, 2.8, 1.9, 2.2, 2.1, 5.2, 8. , 3.7, 2.3,
       1. , 3.8, 3.9, 6.8, 4.2, 3.1, 3.4, 4.5, 4.8, 4.3, 8.1, 7.4, 1.7,
       5.6, 1.3, 1.2, 4.4, 6.3, 8.3, 8.4, 7. , 5.8, 5.5, 2.6, 0.9])

In [28]:
df['engine_block'].unique()

<StringArray>
['V', 'I', 'H']
Length: 3, dtype: string

In [29]:
df['state'].unique()

<StringArray>
['NB', 'QC', 'BC', 'ON', 'AB', 'MB', 'SK', 'NS', 'PE', 'NL', 'YT', 'NC', 'OH',
 'SC']
Length: 14, dtype: string

In [30]:
unique_make_model = df.groupby(['make', 'model']).size().reset_index(name='count')

non_unique_rows = unique_make_model[unique_make_model['count']>1]

df_filtered = df.merge(non_unique_rows, on=['make', 'model'], how='inner').drop(['count'], axis=1)

In [31]:
df_filtered.shape

(269493, 14)

In [32]:
df_filtered.to_csv('data/used_car_canada_clean.csv', index=False, header=True)

## Modeling

In [33]:
df = pd.read_csv('data/used_car_canada_clean.csv')
df.head()

,price,miles,year,make,model,trim,body_type,vehicle_type,drivetrain,transmission,fuel_type,engine_size,engine_block,state
0,179999.0,9966.0,2017.0,acura,NSX,Base,coupe,Car,4WD,Automatic,hyrid,3.5,V,NB
1,179995.0,5988.0,2017.0,acura,NSX,Base,coupe,Car,4WD,Automatic,hyrid,3.5,V,QC
2,168528.0,24242.0,2017.0,acura,NSX,Base,coupe,Car,4WD,Automatic,hyrid,3.5,V,BC
3,220000.0,6637.0,2020.0,acura,NSX,Base,coupe,Car,4WD,Automatic,hyrid,3.5,V,ON
4,220000.0,6637.0,2020.0,acura,NSX,Base,coupe,Car,4WD,Automatic,hyrid,3.5,V,ON

In [34]:
df['trim'].unique()

array(['Base', 'SXT', 'Mainstreet', ..., 'EX Premium PHEV', 'EX PHEV',
       'S Touring'], dtype=object)

In [35]:
from sklearn.model_selection import train_test_split

X = df.drop(['price'], axis=1)
y = df['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=df[['make', 'model']], test_size=0.2, shuffle=True, random_state=42)

In [37]:
import numpy as np
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OrdinalEncoder
from sklearn.feature_selection import SelectPercentile, mutual_info_regression
from sklearn.datasets import fetch_openml

# Specify categorical feature indices
cat_index = [2,3,4,5,6,7,8,9,11,12] # Updated for the example dataset

# Column names for reference
cat_feature_names = X.columns[cat_index]

# Create the categorical features transformer pipeline
cat_features_transformer = Pipeline(
    steps=[
        ("encoder", OrdinalEncoder()),
        ("selector", SelectPercentile(mutual_info_regression, percentile=50))
    ]
)

# Create the preprocessor with the column transformer
preprocessor = ColumnTransformer(
    transformers=[
        ("cat", cat_features_transformer, cat_index)
    ]
)

# Fit the preprocessor on the data
preprocessor.fit(X, y)

# Get the support mask for selected categorical features
support_mask = preprocessor.named_transformers_["cat"].named_steps["selector"].get_support()

# Print the selected categorical feature names
selected_cat_features = cat_feature_names[support_mask]
print("Selected categorical features:")
print(selected_cat_features)

Selected categorical features:
Index(['make', 'model', 'trim', 'body_type', 'state'], dtype='object')

In [38]:
df.corr()

C:\Users\LGPC\AppData\Local\Temp\ipykernel_10968\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                price     miles      year  engine_size
price        1.000000 -0.402362  0.418309     0.422068
miles       -0.402362  1.000000 -0.740553     0.163161
year         0.418309 -0.740553  1.000000    -0.110395
engine_size  0.422068  0.163161 -0.110395     1.000000